
/textbook/
/materials/
/sections/
weekly_contents.md
*.pdf
!syllabus_*.pdf
*.log
*.tmp
*.aux
*.out
__pycache__/
.ipynb_checkpoints/
/term_project/
/homeworks/
.venv/
/Context/
/Instructions/
/general/
/week-06-numpy_and_data_manipulation/demo/